.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}  

.nav-links {
    display: flex;
    list-style: none;
}  

.navbar a {
    text-decoration: none;
    color: black;
}  

.navButton {
    background-color: rgba(255, 255, 255, 0.625);
    border-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 18px 32px;
    margin-right: 80px;
}

.logo {
    border-radius: 50%; 
    width: 80px;
    height: 80px;
    align-items: center; 
    justify-content: center; 
    margin-left: 350px; 
}